<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            GMS Exports
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        Cardamen
        Red chili
        Turmeric
        Pepper
        coir

        address:

     V.GOGULAKANNAN
   ANAGA C10 first floor
    VISTHARA APPARTMENT
     DINDIGUL MAIN ROAD 
     VILANGUDI PARAVAI (PO),
   Madurai - 625402
    Tamil Nadu

Mobile - 9791907668

        -->
    </head>
    <body>
        <div id="main">
                <nav class="navbar is-info is-transparent " role="navigation" aria-label="main navigation">
                        <div class="navbar-brand">
                  <a href="#" class="navbar-item">{{heading}} </a>
                  <div class="navbar-burger burger" data-target="navtoggle">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                        </div>
           
                  <div id="navtoggle" class="navbar-menu is-active ">
                  <div class="navbar-start">
                      <a href="#" class="navbar-item">
                          Home
                      </a>
                      <a href="#" class="navbar-item">
                           About
                        </a>
                  </div>
                  </div>

               <div class="navbar-menu" >
                     <div class="navbar-end">
                         
                             <a href="#" class="navbar-item"  > 
                                    <span class="icon is-medium">
                                            <i class="fa fa-home"></i>
                                          </span>
                                 Home</a>
                                                  
                                <a href="#" class="navbar-item" >
                                        <span class="icon is-medium">
                                                <i class="fa fa-user-circle"></i>
                                              </span>
                                    About-us</a>
                                                  
                                <a href="#" class="navbar-item" >
                                        <span class="icon is-medium">
                                                <i class="fa fa-cog"></i>
                                              </span>
                                    Products</a>
                                                  
                                <a href="#" class="navbar-item" >
                                        <span class="icon is-medium">
                                                <i class="fa fa-id-card"></i>
                                              </span>
                                    For-Contact</a>
                     </div>
               </div>

                </nav>
                <!--carousel -->
                <div id="carousel" class="carousel"
                data-flickity='{ "wrapAround": true,"imagesLoaded":true }'>
                <div  class="carousel-cell spices1"  >
                 </div>
                <div class="carousel-cell spices2"   >
            
                </div>
                <div class="carousel-cell spices3"   >
              
                </div>
                <div class="carousel-cell spices4 "  ></div>
                <div class="carousel-cell spices5 " ></div>
              </div>
                  <!-- about-us -->
                  <div id="about-us">

                   <div class="columns is-centered success ">
                    <div class="column is-12 ">
                      <Hero header="About-us" type="is-info ">
                       What We Do?
                     </Hero>
                    </div>
                    </div>

               

                     <div class="columns is-centered ">
                         <div class="column is-half">
                             <div class="tile is-parent is-info notification ">
                                 <article class="is-child ">
                                   
                                        <p class="title is-3 is-block"> 
                                             <icon type="is-primary" ico="quote-left"> </icon>
                                                The secret of happiness is variety,
                                                 but the secret of variety, like the secret
                                                  of all spices, is knowing when to use it.     
                                             <icon type="is-primary" ico="quote-right"> </icon>
                                         </p>
                                   
                                         <p class="subtle">
                                        ~Daniel Gilbert.
                                         </p>
                                 </article>
                            
                             </div>
                         </div>
                     </div>

                     <div class="columns is-centered is-multilined">

                        <div class="column is-half">
                                
                                <div class="card">
                                        <div class="card-content">
                                          <p class="title ">
                                   We Export Spices
                                        </p>
                                          <p class="subtitle">
                                       <sp>GSM Exports and Trades </sp> was established in 
                                       2017 We are growing rapidly due to our ability of 
                                       processing, supplying, wholesaling, exporting and
                                        trading a qualitative and comprehensive range of <sp> Agro products.</sp> 
                                          </p>
                                        </div>
                                        <footer class="card-footer">
                                          <p class="card-footer-item">
                                            <span>
                                              View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                                            </span>
                                          </p>
                                          <p class="card-footer-item">
                                            <span>
                                              Share on <a href="#">Facebook</a>
                                            </span>
                                          </p>
                                        </footer>
                                      </div>
                                      </div>
                                                                     
                         </div>

                    </div> <!--about-us-->

              <div id="products">

                  <div class="columns">
                      <div class="column  is-12">
                           <Hero  header="Products" type="is-success">
                       What We Export
                           </Hero>
                      </div>
                  </div>

                  <div id="spices">

                  <div class="columns">

                      <div class="column is-one-quarter">
                          <div class="card">
                              <header class="card-header">
                                 <p class="card-header-title is-centered ">
                                     Cardamon
                                 </p>
                              </header>
                              <div class="card-image">
                                  <figure class="image is-4by3">
                                    <img src="./img/cardamon.jpg" alt="Placeholder image">
                                  </figure>
                              </div>
                              <div class="card-content">
                                  <div class="content">
                                    <span>cardamum</span> is a spice made from the seeds of several plants.
                                    Cardamom has a strong, unique taste, with an intensely aromatic.
                                     Black cardamom has a distinctly more smokey
                                     , though not bitter.
                                  </div>
                              </div>
                              <div class="card-footer">
                                    <div class="card-footer-item">
                                        <p>
                                                <a @click.prevent="cardamon()" class="button is-info is-outlined modal-button " data-target="model_cardamon"> View More</a>
                                  
                                        </p>
                                    </div>
                              </div>

                          </div>
                      </div>

                      <div class="column is-one-quarter">
                            <div class="card">
                                <header class="card-header">
                                   <p class="card-header-title is-centered ">
                               Red Chilli
                                   </p>
                                </header>
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                      <img src="./img/red-chili.jpg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        The chili pepper from Nahuatl chīlli is
                                         the fruit of plants from the genus Capsicum,
                                          members of the nightshade family, Solanaceae.
                                           They are widely used in many cuisines to add spiciness to dishes
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                            <a href="#" class="button is-info is-outlined ">View More</a>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                        <div class="column is-one-quarter">
                                <div class="card">
                                    <header class="card-header">
                                       <p class="card-header-title is-centered ">
                                        Turmeric
                                       </p>
                                    </header>
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                          <img src="./img/turmeric.jpg" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            Turmeric is a rhizomatous herbaceous perennial
                                             plant of the ginger family, Zingiberaceae. 
                                             It is native to the Indian Subcontinent and
                                              Southeast Asia, and requires temperatures 
                                              between 20 and 30 °C 
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                            <div class="card-footer-item">
                                                    <a href="#" class="button is-info is-outlined ">View More</a>
                                            </div>
                                        
                                        </div>
                                </div>
                            </div>

                            <div class="column is-one-quarter">
                                    <div class="card">
                                        <header class="card-header">
                                           <p class="card-header-title is-centered ">
                                             Pepper
                                           </p>
                                        </header>
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                              <img src="./img/pepper.jpg" alt="Placeholder image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                Black pepper is a flowering vine in the family
                                                 Piperaceae, cultivated for its fruit which is
                                                  usually dried and used as a spice and seasoning,
                                                   known as a peppercorn.
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                                <div class="card-footer-item">
                                                        <a href="#" class="button is-info is-outlined ">View More</a>
                                                </div>
                                            
                                            </div>
                                    </div>
                                </div>

                  </div>
                         <div class="columns is-multilined is-centered">
                                <div class="column is-one-quarter">
                                        <div class="card">
                                            <header class="card-header">
                                               <p class="card-header-title is-centered ">
                                                   Coir
                                               </p>
                                            </header>
                                            <div class="card-image">
                                                <figure class="image is-4by3">
                                                  <img src="./img/coir.jpg" alt="Placeholder image">
                                                </figure>
                                            </div>
                                            <div class="card-content">
                                                <div class="content">
                                                   Coir or coconut fibre, is a natural fibre 
                                                   extracted from the husk of coconut and used 
                                                   in products such as floor mats, doormats, brushes
                                                    and mattresses.
                                            </div>
                                            <div class="card-footer">
                                                    <div class="card-footer-item">
                                                            <a href="#" class="button is-info is-outlined ">View More</a>
                                                    </div>
                                                
                                                </div>
                                        </div>
                                    </div>
                         </div>

              </div>

                  </div>
                </div>
              <div id="contacts" >     <!-- contacts -->
                <Hero  header="For Contact" type="is-danger">
                     Don't hesitate to call/mail.
                 </Hero>
                 
                 <div class="columns .is-transparent ">

                     <div class="column is-half">
                           <div class="tile is-parent ">
                               <article class=" tile is-child notification   ">
                                <div class="level  ">
                                    <div class="level-left">
                                         <p class="title is-4 ">
                                                    <span class="icon is-medium ">
                                                            <i class="fa fa-user-circle"></i>
                                                          </span>  
                                                V GogulaKannan</p>
                                    </div>
                                             
                                              <div class="level-right">
                                                      <p class="title is-4">
                                                      <span class="icon is-medium ">
                                                    <i class="fa fa-phone is-left-align"></i>
                                                  </span>
                                                        9791907668
                                                  </p>
                                              </div>
                                              
                                                
                                </div>
                                <div class="content is-centered is-capitalized ">
                                       <p class="title is-4 ">Address</p>
                                    <p content="subtle has-text-centered ">
                                            anagha C10 first floor,<br>
                                            Visthara apartment,<br>
                                             dindigul main road ,<br>
                                             vilangudi paravai (PO), <br>
                                           Madurai - 625402 ,<br>
                                            Tamil Nadu .<br>
                                    </p>
                                </div>
                                <p class="title is-4 ">Mail us</p>
                                <div class="level">
                                    <div class="level-item">
                                        <p class="title">
                                           
                                          <a class="button" href="mailto:gms.exports.trader@gmail.com"> <icon ico="envelope" ></icon>&nbsp;  gms.exports.trader@gmail.com </a>
                                        </p>
                                    </div>
                                </div>
                               </article>

                           </div>
                     </div>
                  
                     <div class="column  is-half ">
                          
                          <div class="tile is-parent">
                               <div class="tile is-child notification">

                    <div class="field">
                        <label class="title is-4" >Submit a Query</label>
                    </div>

                                          <div class="field">
                                                <label class="label">Email</label>
                                                <div class="control has-icons-left has-icons-right">
                                                  <input class="input is-danger" type="email" autocomplete="on" maxlength="30" placeholder="Email input" value="hello@">
                                                  <span class="icon is-small is-left">
                                                    <i class="fa fa-envelope"></i>
                                                  </span>
                                                  <span class="icon is-small is-right">
                                                    <i class="fa fa-warning"></i>
                                                  </span>
                                                
                                                </div>
                                              
                                                <p class="help is-left is-inline is-danger ">This email is invalid</p>
                                         
                                              </div>

                                              <div class="field">
                                                    <label class="label">Message</label>
                                                    <div class="control">
                                                      <textarea class="textarea" placeholder="Textarea"></textarea>
                                                    </div>
                                                  </div>

                                                  <div class="field is-grouped">
                                                      <div class="control">
                                                          <a href="#" class="button is-info ">Submit</a>
                                                      </div>
                                                      <div class="control">
                                                            <a href="#" class="button ">Reset</a>
                                                        </div>
                                                  </div>

                               </div>

                          </div>
                          

                          
                     </div>


                 </div>

              </div>     <!-- contacts end  -->

              <div id="footer">   <!-- footer  -->
                  <div class="footer">
                      <div class="container">
                          <div class="content">
                              All Rights Reserved and Preserved by our Organisation. 
                          </div>
                      </div>
                  </div>

                  <div id="modal_cardamon" :class=" 'modal '+  is_cardamon ">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                          <header class="modal-card-head">
                            <p class="modal-card-title">Cardamon</p>
                            <button @click.prevent="cardamon()" class="delete" aria-label="close"></button>
                          </header>
                          <section class="modal-card-body">
                            <!-- Content ... -->
                            
                            <div class="content">
                                 <p>
                                        <strong>Indian cardamom</strong> is offered to the international 
                                        markets in different grades: 'Alleppey Green Extra Bold' (AGEB),
                                         'Alleppey Green Bold' (AGB) and 'Alleppey Green Superior' (AGS) 
                                         are names that register instant appeal worldwide.
                                 </p>
                                 <h2>Cardamon Grades</h2>
                                 <ol>
                                     <li v-for="items in cardamon_grades">{{items}}</li>
                                 </ol>
                            </div>

                            <table class="table is-bordered is-hoverable ">
                             <tr v-for="items in cardamon_table" >
                               <th> {{items.col1}}</th>
                               <th> {{items.col2}}</th>         
                             </tr>
                            </table>


                          </section>
                          <footer class="modal-card-foot">
                            <button class="button is-success">Save changes</button>
                            <button class="button">Cancel</button>
                          </footer>
                        </div>
                      </div>  
              </div>     <!-- footer end  -->

              
                    <!-- main end --> </div>



         
         <script src="js/buefy.js"></script>
         <script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.4/src/httpVueLoader.min.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/vue-router.js"></script>

       
        <script src="js/main.js"></script>
    
    </body>
</html>