@import "bulma";
@import "color";
//@import "buefy.css";
#spices{
  margin:0px;
  background: linear-gradient(to top right,$deep-purple-accent-1,$cyan);
}



.is-transparent{
  background-color: transparent;
}
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}



.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
.spices1
{
background-image: url('img/spices1.jpg');
background-repeat: no-repeat;
background-position: cover;
}

.spices2
{
  background-repeat: no-repeat;
background-image: url('img/spices2.jpg');
background-position: cover;
}
.spices3
{
  background-repeat: no-repeat;
background-image: url('img/spices3.jpg');
background-position: cover;
}
.spices4
{
  background-repeat: no-repeat;
background-image: url('img/spices4.jpg');
background-position: cover;
}
.spices5
{
  background-repeat: no-repeat;
background-image: url('img/spices5.jpg');
background-position: cover;
}
.success{

  
}

#contacts{
background-image: url('img/lake.jpg');
background-position: cover;
}

* {
 box-sizing: border-box ;
}
body {
     font-family: sans-serif;
}

.carousel 
{
  background: #EEE;
}

.carousel-cell 
{ 
width: 100%;
  height: 90vh;
  margin-right: 10px;

  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before 
{ 
display: block;
  text-align: center;
 // content: attr(label);
  line-height: 200px;
  font-size: 80px;
  color: white;

}
#carousel{

}

#about-us
{

    background-color: grey;
    p {
span[class='of-blue']
{
 @extend .has-text-info;
 
}
}
}