<template>
  <section :class= " 'hero ' +type">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      {{header}}
      </h1>
      <h2 class="subtitle">
       <slot></slot>
      </h2>
    </div>
  </div>
</section>
</template>

<script>
module.exports= {
data()
{
    return {};
},
props:{
    'type':{type:String,defaut:""},
    'header':{required:true},
}


}
</script>

<style>

</style>
